!/storage/app/public/avatars/admin.jpeg
!/storage/app/public/avatars/avatar.png
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/data
/data_test
.env
.env.testing
.env.backup
.editorconfig
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
supervisord.pid
supervisord.log
.phpunit.result.cache
.styleci.yml
.gitattributes
/.idea
/.vscode
